*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.outer-box
{
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(219,219,219,1) 0%, rgba(0,168,255,1) 100%);
}
.inner-box
{
    background-color: #ffffff09;
    width: 400px; /* Reduced the width */
    padding: 20px 30px; /* Adjusted padding */
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 3px 5px black;
    z-index: 3;
}
h1
{
    font-size: 2.5rem;
    color: #212121;
}
#takes
{
    padding-top: 10px;
    font-size: 12px;
    color: darkslategrey;
}
.signup-body
{
    margin: 20px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label
{
    display: block;
    font-weight: bold;
}
.signup-body p input
{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
}
.signup-body p input[type="submit"]
{
    background-color: #3498db;
    border: none;
    color: whitesmoke;
}
.signup-body p input[type="submit"]:hover
{
    background-color: blue;
    cursor: pointer;
}
.signup-footer
{
    text-align: center;
}
.signup-footer a{
    color: #3498db;
}

.circle
{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: linear-gradient(to top right,#ffffff33,#ffffffff);
    position: absolute;
}
.c1
{
    top: 100px;
    left: 40px;
}
.c2
{
    bottom: 100px;
    right: 50px;
}